body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0.9;
}

.cards {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: center;
}

#nav {
	flex-flow: row nowrap;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 69px;
	background-color: black;
	border-bottom: 1px solid seashell;
	z-index: 10;
	opacity: 1;
}

#logo {
	margin-left: 10px;
	height: 50px;
}

li {
	display: inline;
	margin: 0 10px;
}

a {
	color: seashell;
}

section {
	margin: 69px auto 0 auto;
}

#mission {
	height: 700px;
	width: 1200px;
	background-image: url("../images/img-mission-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#mission div {
	background-color: black;
	width: 100%;
}

#featured {
	width: 1050px;
}

figure {
	margin: 15px 25px;
}

figure img {
	width: 300px;
	height: 200px;
	margin-bottom: 10px;
}

#locations {
	height: 500px;
	width: 1200px;
	background-image: url("../images/img-locations-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 300px;
	height: 300px;
	margin: 15px 20px;
	background-color: black;
	opacity: 1;
}

#contact {
	height: 200px;
	margin: 0;
}

#copyright {
	margin-left: 20px;
	align-self: start;
}
